@media (max-width:250px)
{
    span{
        font-size: 15px;
    }
}
@media (min-width:250px) and (max-width:500px)
{
    span{
        font-size: 25px;
    }
}
@media (min-width:500px)
{
    span{
        font-size: 30px;
    }
}
